/* 클래스 이름 지정 형식: [파일이름]_[컴포넌트이름]_[부가설명] */
#root {
  background-color: #ede9e7;
  font-family: "nexonGothic";
  padding: 0px 0px 0px 15%;
}
@media (max-width: 768px) {
  #root {
    background-color: #ede9e7;
    font-family: "nexonGothic";
    padding: 0px 0px 0px 0px;
  }
}
.app_content {
  padding: 10px;
}
.backgroundImg_sunny {
  background-image: url("localhost:3005/whether/images/sunny.png");
}
.backgroundImg_windy {
  background-image: url("https://mdn.mozillademos.org/files/5405/gallery_4.jpg");
}
.app_loading {
  background-color: #494949;
  opacity: 90%;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 99;
}
.app_loading_imgs {
  position: relative;
  top: calc(50% - 10px);
  left: calc(50% - 45px);
  opacity: 100%;
}
.loading_img {
  width: 25px;
  margin: 7px;
}

/* Time.tsx */
.flex-container {
  flex-direction: column;
  display: flex;
}
.time_wrapper {
  width: 40%;
  height: 150px;
}
.time_theme_btn {
  position: absolute;
  margin: -30px 0px 0px 30px;
  background-color: #d4d4d4;
}
.time_date {
  position: absolute;
  margin: -28px 0px 0px 210px;
  font-size: 10pt;
  color: #8f8f8f;
}

/* .time_background {
  width: 230px;
  border: 5px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#3a4e5c, #888ea8),
    linear-gradient(#888ea8, #3a4e5c);
  background-origin: border-box;
  background-clip: content-box, border-box;
} */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: row;
  }
  .time_wrapper {
    width: 40%;
  }
}

/* Present.tsx */
.present_wrapper {
  display: inline-flex;
  margin: 20px 0px 0px 0px;
}
.present_whether_img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
}
.present_text {
  display: flex;
}
.present_current_text {
  font-family: "nexonGothic_light";
  margin: 15px 0px 0px 20px;
  font-size: 48pt;
  color: #2b2b2b;
}
.present_other_text {
  margin: 35px 0px 0px 10px;
  font-size: 14pt;
}
.present_rainPer_img {
  position: relative;
  top: 2px;
}
@media (max-width: 768px) {
  .present_wrapper {
    margin: 20px 0px 0px calc(24% + 200px);
    position: absolute;
  }
  .present_whether_img {
    width: 100px;
    height: 100px;
  }
  .present_text {
    display: inline;
    margin-left: calc(5% - 10px);
  }
  .present_current_text {
    font-family: "nexonGothic";
    margin: 5px 0px 0px 20px;
    font-size: 32pt;
  }
  .present_other_text {
    width: 100px;
    margin: 5px 0px 0px 20px;
    font-size: 12pt;
  }
  .present_rainPer_img {
    width: 15px;
    position: relative;
    top: 2px;
  }
}

/* Chart.tsx */
.chart_wrapper {
  border: 1px solid red;
  overflow-y: auto;
  width: calc(65% - 300px);
  position: absolute;
  top: 10px;
  left: calc(360px + 15%);
}
@media (max-width: 768px) {
  .chart_wrapper {
    width: 100%;
    border: 1px solid blue;
    position: inherit;
  }
  .chart_wrapper::-webkit-scrollbar {
    display: none;
  }
}
.chart {
  border: 1px solid black;
  /* width: 3000px;
  height: 200px; */
}

/* Recommand.tsx */
.recommand_wrapper {
  top: 90px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.recommand_flex-container {
  margin: 20px 0px 0px 40px;
  padding: 10px;
  max-width: 200px;
  background: #9dabbe;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
.recommand_flex-item {
  width: 100%;
  margin: 0px 5px 5px 5px;
  padding: 3px 0px 3px 0px;
  text-align: center;
  border-radius: 10px;
  background: #e7e7e7;
  color: #7a7a7a;
}
.recommand_flex-item_selected {
  background: #e9e65c;
  color: #57574c;
  font-weight: bold;
}
.divider_wrapper {
  text-align: center;
}
.divider {
  border: 1px solid #c4c4c4;
  width: 180px;
  display: inline-block;
}
.recommand_text {
  margin: 0px 7px 0px 7px;
  font-size: 18pt;
  display: inline-block;
}
@media (max-width: 768px) {
  .recommand_wrapper {
    top: 30px;
  }
  .recommand_flex-container {
    margin-left: 16%;
    max-width: 400px;
  }
  .recommand_flex-item {
    width: 30%;
    margin: 0px 10px 5px 0px;
  }
  .recommand_flex-item_selected {
    width: 30%;
    margin: 0px 10px 5px 0px;
  }
  .divider {
    width: 110px;
  }
}

/* SiteList.tsx */
.siteList_wrapper {
  top: -220px;
  left: 300px;
  width: calc(80% - 300px);
  position: relative;
}
.siteList_items {
  border: 2px solid #bebebe;
  background-color: #e2e2e2;
  margin-bottom: 6px;
  display: flex;
}

@media (max-width: 768px) {
  .siteList_wrapper {
    width: 70%;
    position: relative;
    top: 30px;
    left: 16%;
  }
}

/* Item.tsx */
.item_flex-container {
  padding: 4px;
}
.item_flex-container:last-child {
  padding: 15px 0px 20px 8px;
}
.item_img {
  width: 100px;
}
.item_font1 {
  font-weight: bold;
}
.item_font2 {
  font-size: 10pt;
  color: #686868;
}
.item_font3 {
  font-weight: bold;
  color: red;
  position: relative;
  top: 3px;
}
.item_font4 {
  font-weight: bold;
  color: #8686a1;
  position: relative;
  top: 30%;
  cursor: pointer;
}

/* Footer.tsx */
.footer {
  top: 10px;
  left: -19%;
  height: 80px;
  width: 120%;
  padding-top: 40px;
  background-color: #8686a1;
  position: relative;
  text-align: center;
  color: #dbdbeb;
  font-size: 18pt;
}
@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
