/* 클래스 이름 지정 형식: [파일이름]_[컴포넌트이름]_[부가설명] */
#root {
  background-color: #ede9e7;
  font-family: "nexonGothic";
}
.app_content {
  padding: 10px;
}
.backgroundImg_sunny {
  background-image: url("localhost:3005/whether/images/sunny.png");
}
.backgroundImg_windy {
  background-image: url("https://mdn.mozillademos.org/files/5405/gallery_4.jpg");
}
.app_loading {
  background-color: #494949;
  opacity: 90%;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 99;
}
.app_loading_imgs {
  position: relative;
  top: calc(50% - 10px);
  left: calc(50% - 45px);
  opacity: 100%;
}
.loading_img {
  width: 25px;
  margin: 7px;
}

/* Time.tsx */
.flex-container {
  flex-direction: column;
  display: flex;
}
.time_wrapper {
  width: 40%;
  height: 150px;
}
.time_theme_btn {
  position: absolute;
  margin: -30px 0px 0px 30px;
}
.time_date {
  position: absolute;
  margin: -28px 0px 0px 210px;
  font-size: 10pt;
  color: #8f8f8f;
}

/* .time_background {
  width: 230px;
  border: 5px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#3a4e5c, #888ea8),
    linear-gradient(#888ea8, #3a4e5c);
  background-origin: border-box;
  background-clip: content-box, border-box;
} */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: row;
  }
  .time_wrapper {
    width: 40%;
  }
}

/* Present.tsx */
.present_wrapper {
  display: inline-flex;
  margin: 10px 0px 0px 0px;
}
.present_whether_img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
}
.present_text {
  display: flex;
}
.present_current_text {
  font-family: "nexonGothic_light";
  margin: 15px 0px 0px 20px;
  font-size: 48pt;
  color: #2b2b2b;
}
.present_other_text {
  margin: 35px 0px 0px 10px;
  font-size: 14pt;
}
.present_rainPer_img {
  position: relative;
  top: 2px;
}
@media (max-width: 768px) {
  .present_wrapper {
    margin: 20px 0px 0px calc(200px + 20%);
    position: absolute;
  }
  .present_whether_img {
    width: 100px;
    height: 100px;
  }
  .present_text {
    display: inline;
    margin-left: calc(5% - 10px);
  }
  .present_current_text {
    font-family: "nexonGothic";
    margin: 5px 0px 0px 20px;
    font-size: 32pt;
  }
  .present_other_text {
    width: 100px;
    margin: 5px 0px 0px 20px;
    font-size: 12pt;
  }
  .present_rainPer_img {
    width: 15px;
    position: relative;
    top: 2px;
  }
}

/* Chart.tsx */
.chart_wrapper {
  border: 1px solid red;
  overflow-y: auto;
  width: 50%;
  position: absolute;
  top: 10px;
  left: 360px;
}
@media (max-width: 768px) {
  .chart_wrapper {
    width: 80%;
    border: 1px solid blue;
    position: inherit;
  }
  .chart_wrapper::-webkit-scrollbar {
    display: none;
  }
}
.chart {
  border: 1px solid black;
  /* width: 3000px;
  height: 200px; */
}

/* Recommand.tsx */
.recommand_wrapper {
  width: 80%;
  top: 30px;
  position: relative;
}
.recommand_flex-container {
  margin: 10px;
  padding: 10px;
  width: 30%;
  max-width: 200px;
  background: #889fc0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.recommand_flex-item {
  background: #e7e7e7;
  width: 80%;
  margin: 0px 10px 5px 0px;
}
@media (max-width: 768px) {
  .recommand_wrapper {
    top: 30px;
  }
  .recommand_flex-container {
    width: 80%;
    max-width: 1000px;
  }
  .recommand_flex-item {
    width: 30%;
    margin: 0px 10px 5px 0px;
  }
}

/* SiteList.tsx */
.siteList_wrapper {
  border: 1px solid red;
  height: 100px;
  position: relative;
  top: -160px;
  left: 300px;
  width: calc(100% - 300px);
  height: 100%;
}
@media (max-width: 768px) {
  .siteList_wrapper {
    border: 1px solid red;
    height: calc(100% + 50px);
    position: relative;
    top: 50px;
    left: 0px;
  }
}
.siteList_img {
  width: 100px;
}
.siteList_font {
  color: rgb(88, 88, 88);
}
