/* 클래스 이름 지정 형식: [파일이름]_[컴포넌트이름]_[부가설명] */
#root {
  background-color: #ede9e7;
}
.app_wrapper {
  font-family: "nexonGothic";
}
.chart_wrapper {
  border: 1px solid red;
}
@media (max-width: 768px) {
  .chart_wrapper {
    width: 80%;
    overflow-y: auto;
    border: 1px solid blue;
  }
  .chart_wrapper::-webkit-scrollbar {
    display: none;
  }
}
.chart {
  border: 1px solid black;
}
